<!DOCTYPE html>
<html lang="en">
  <head>
{% load static %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>profile</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}"/>
  </head>
  <body>
    <main>
      <div class="left">
        <img src="{% static 'img.jpg' %}" alt="" />
      </div>
      <div class="right">
        <label for="username">username</label>
        <input type="text" id="username" />
        <label for="name">name</label>
        <input type="text" id="name" />
        <label for="email">email</label>
        <input type="text" id="email" />
        <label for="description">description</label>
        <input type="text" id="description" />
      </div>
    </main>
  </body>
</html>
